.intro-forms{
    margin-top: 100px;
}
.signup-forms{
    margin-top: 60px;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}


.white-text {
    color: #ffffff;
}

.big-text {
    font-size: 18px;
}

.reg-login {
    margin: 2px 0 2px 5px;
    padding:0;
}
div.reg-login {
    margin: 2px 0 2px 0;
    padding:0;
}
span.reg-login {
    margin: 2px 0 2px 15px;
    padding:0;
}

a.fancy-link:hover {
    color:rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 20px;
}


div.social-up {
    margin-top:0;
}

.fancy-text {
    color: rgba(255, 255,255, 1);
    font-size: 20px;
    line-height: 8px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}

.register-header{
    margin: 15px 0 0 230px;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 12px;
    padding: 20px;
    font-weight: 400;
}

.register-footer {
    margin: 0 0 0 220px;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 12px;
    padding: 20px;
    font-weight: 400;

}

#file {
    display: none;
}

#camera {
    border-radius: 4px;
    margin-top: -1px;
}

textarea {
    resize: none;
    margin-bottom: 1px;
}

.username {
    color: purple;
}

.centralize {
    text-align: center;
}

.round {
    height: 60px;
    width: 60px; 
}

.small-round {
    height: 40px;
    width: 40px; 
}


.pd .navbar-nav > li > a, .pd .navbar-nav > li > a:hover, nav > div > div > a   {
    color: #337ab7;
    text-decoration: none;
}

.app-navbar {
    background: white;
}

.pd .e, .pd .e:hover {
    margin-top: -8px;
    color: #337ab7;
}

.anf {
    background-color: gainsboro;

}

img.aog{
    height: 100px;
}