.intro-forms{
    margin-top: 100px;
}
.signup-forms{
    margin-top: 60px;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.white-text {
    color: #ffffff;
}

.big-text {
    font-size: 18px;
}

.reg-login {
    margin: 2px 0 2px 5px;
    padding:0;
}
div.reg-login {
    margin: 2px 0 2px 0;
    padding:0;
}
span.reg-login {
    margin: 2px 0 2px 15px;
    padding:0;
}

a.fancy-link:hover {
    color:rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 20px;
}
