#file, #hide {
    display: none;
}

#camera {
    border-radius: 4px;
    margin-top: -1px;
}

textarea {
    resize: none;
    width:100%;
    margin-bottom: 1px;
    border: 3px solid red;
}

.username {
    color: #286090;
}

.centralize {
    text-align: center;
}

.round {
    height: 60px;
    width: 60px;
}

.small-round {
    height: 40px;
    width: 40px;
}

.pd .navbar-nav > li > a, .pd .navbar-nav > li > a:hover, .pd .navbar-nav > li > a:focus,  .pd .navbar-nav > li > a:visited  {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.app-navbar {
    background: #286090;
    box-shadow: 1px 1px 1px #ccc;
}

.chopbox {

    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    color: #ffffff;
}

.anf {
    background-color: #F5F8FA;
}

.glyphicon-heart {
    color: #ff0000;
}

#unpopular {
    color: slategray;
}

.no-like{
    color: slategray;
}

.liked{
    color: #ff0000;
}

img.aog {
    height: 100px;
}

 .disc-list {
    list-style-type: disc;

 }

 .disc-list-ul {
    margin-left: 20px;
 }

 .leaderboard {
    padding-top: 10px;
    padding-right: 30px;
 }

 .align-right {
     padding-right: 8px;
 }

 .bluecolor {
     color: #337ab7;
 }

 .shift-down {
     padding-top: 12px;
 }

 .curve {
     border-radius: 4px;
 }

 .tinted {
    border-color: #cccccc;
    box-shadow: 1px 1px 1px #ccc;
  }

 .post-btn, #camera {
     margin-top: 2px;
 }

.imagePreview {
    width: 100px;
    height: 180px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline;
}

div#image-crop-overlay {
    background-color : #ffffff;
    overflow : hidden;
}

div#image-crop-outline {
    background : #ffffff url('../img/outline.gif');
    overflow : hidden;
}

div#image-crop-size-hint-background {
    background-color : #000000;
}

span#image-crop-size-hint-foreground {
    color : #ffffff;
    font-family : 'Verdana', 'Geneva', sans-serif;
    font-size : 12px;
    text-shadow : 0 -1px 0 #000000;
}

div#image-crop-preview-holder {
    -moz-box-shadow : 0 0 5px #000000;
    -webkit-box-shadow : 0 0 5px #000000;
    border : 3px #ef2929 solid;
    box-shadow : 0 0 5px #000000;
}

img#image-crop-preview {
    border : none;
}

div.image-crop-resize-handler {
    background-color : #000000;
    border : 1px #ffffff solid;
    height : 7px;
    overflow : hidden;
    width : 7px;
}

.cu {
    border: 2px solid #F5F8FA;
}

 a:link{
     text-decoration: none;
 }

 p.chops-about{
     display: block !important;
 }

 .time-display{
    display: inline-block;
 }

