#file {
    display: none;
}

#camera {
    border-radius: 4px;
    margin-top: -1px;
}

textarea {
    resize: none;
    margin-bottom: 1px;
    border: 3px solid red;
}

.username {
    color: purple;
}

.centralize {
    text-align: center;
}

.round {
    height: 60px;
    width: 60px;
}

.small-round {
    height: 40px;
    width: 40px;
}

.pd .navbar-nav > li > a, .pd .navbar-nav > li > a:hover   {
    color: #337ab7;
    text-decoration: none;
}

.app-navbar {
    background: white;
}

.chopbox {

    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
}

.anf {
    background-color: gainsboro;
}

.glyphicon-heart {
    color: #ff0000;
}

#unpopular {
    color: slategray;
}

img.aog{
    height: 100px;
}

 .disc-list {
    list-style-type: disc;
    
 }

 .disc-list-ul {
    margin-left: 20px;
 }

 .leaderboard {
    padding-top: 10px;
    padding-right: 30px;
 }

 .lead {
     color: #337ab7;
 }