#file, #hide {
    display: none;
}

#camera {
    border-radius: 4px;
    margin-top: -1px;
}

textarea {
    resize: none;
    width:100%;
    margin-bottom: 1px;
    border: 3px solid red;
}

.username {
    color: #286090;
}

.centralize {
    text-align: center;
}

.round {
    height: 60px;
    width: 60px;
}

.small-round {
    height: 40px;
    width: 40px;
}

.pd .navbar-nav > li > a, .pd .navbar-nav > li > a:hover, .pd .navbar-nav > li > a:focus,  .pd .navbar-nav > li > a:visited  {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.app-navbar {
    background: #286090;
    box-shadow: 1px 1px 1px #ccc;
}

.chopbox {

    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    color: #ffffff;
}

.anf {
    background-color: #F5F8FA;
}

.glyphicon-heart {
    color: #ff0000;
}

#unpopular {
    color: slategray;
}

img.aog {
    height: 100px;
}

 .disc-list {
    list-style-type: disc;

 }

 .disc-list-ul {
    margin-left: 20px;
 }

 .leaderboard {
    padding-top: 10px;
    padding-right: 30px;
 }

 .align-right {
     padding-right: 8px;
 }

 .bluecolor {
     color: #337ab7;
 }

 .shift-down {
     padding-top: 12px;
 }

 .curve {
     border-radius: 4px;
 }

 .tinted {
    border-color: #cccccc;
    box-shadow: 1px 1px 1px #ccc;
  }

 .post-btn, #camera {
     margin-top: 2px;
 }

.imagePreview {
    width: 100px;
    height: 180px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline;
}

 .cu {
  border: 2px solid #F5F8FA;
 }

